<html>
<head th:replace="~{base :: head}">
</head>

<body onload="onLoad()">
	    <div th:replace="~{base :: logo}"></div>
	<div class="container" id="ofertas">
	<div th:replace="~{base :: title('Faça sua oferta')}"></div>
		
		<div class="container" v-for="pedido in pedidos">
			<div class="card mb-3 mt-3">
			<div class="card-header alert alert-dark" role="alert">{{pedido.nomeProduto}}</div>
			
			</th:block>
				<div class="card-body">
					<div class="row">
						<div class="col-6 col-sm-8 mb-3">
							<div>
								<div class="row">
									<div>Produto</div>
										<div>
											<a v-bind:href="pedido.urlDoProduto">{{pedido.nomeProduto}}</a>
										</div>
			
										<div class="mt-3 mb-2">Descrição</div>
										<div>
											<textarea disabled="disabled" class="form-control mb-3">{{pedido.descricao}}</textarea>
										</div>
												<div class="col-5">
													Valor: <input v-bind:class="{'is-invalid':pedido.erros.valor !== ''}" class="form-control" v-model="pedido.valorNegociado"/>
													<div v-if="pedido.erros.valor" class="invalid-feedback">
														{{pedido.erros.valor}}
													</div>
												</div>
												<div class="col-7">
													Data da entrega: <input v-bind:class="{'is-invalid':pedido.erros.dataDaEntrega !== ''}" class="form-control" v-model="pedido.dataDaEntrega"/>
													<div v-if="pedido.erros.dataDaEntrega" class="invalid-feedback">
														{{pedido.erros.dataDaEntrega}}
													</div>
												</div>
												<div class="mt-3"><label>Comentário</label>
												<textarea class="form-control mb-3 mt-1" v-model="pedido.comentario"></textarea>
												</div>
										</div>
										<button v-if="pedido.ofertaEnviada" class="btn btn-success">Oferta Enviada</button>
										<button v-else v-on:click="enviaOferta(pedido)" class="btn btn-primary">Enviar Oferta</button>
									</div>
						</div>
						<div class="col-12 col-sm-4">
							<div>
								<img class="img-thumbnail" v-bind:src="pedido.urlDaImagem">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
			<script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js"></script>
<!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
			<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script>
	function onLoad(){
	var app = new Vue(
		{  
		el: '#ofertas',
		data : {
		    pedidos : []
		  },
		  mounted () {
		    axios
		      .get('http://localhost:8080/api/pedidos/aguardando')
		      .then(response => {
		    	  response.data.forEach(pedido => {
		    		pedido.ofertaEnviada = false;
		    	  	pedido.erros = {
		    	  			valor: '',
		    	  			dataDaEntrega: ''
		    	  	}
		    	  	})
		    	  	this.pedidos = response.data
		    	  })
		  }, 
		  methods: {
			  enviaOferta: function(pedido) {
				  pedido.erros = {
		    	  			valor: '',
		    	  			dataDaEntrega: ''
		    	  	}
				  
				  axios
			      .post('http://localhost:8080/api/oferta',
			    		  {
			    	pedidoId: pedido.id,
			    	valor: pedido.valorNegociado,
			    	dataDaEntrega: pedido.dataDaEntrega,
			    	comentario: pedido.comentario
			    		  })
			      .then(response => pedido.ofertaEnviada = true)
			      .catch(error => 
			      	error.response.data.errors.forEach(error => {
			      		pedido.erros[error.field] = error.defaultMessage;
			      	})
			      )
			  }
		  }
		});
	}
	</script>

</body>
</html>